<launch>

  <node pkg="sbsim" name="displayer" type="display.py" output = "screen"/>
  <node pkg="sbsim" name="stateserver" type="stateserver.py" output = "screen"/>
  <node pkg="sbsim" name="rules" type="rules.py" output = "screen"/>
  <node pkg="sbsim" name="" type="vect2ptg.py" output = "screen"/>

</launch>