<launch>
  <node pkg="sbsim" name="displayer" type="display.py" output = "screen"/>
  <node pkg="sbsim" name="stateserver1" type="stateserver.py" output = "screen"/>
  <node pkg="sbsim" name="p2pctrl" type="p2pctrl.py" output = "screen"/>
  <node pkg="sbsim" name="traj_ctrl" type="traj_ctrl.py" output = "screen"/>
  <node pkg="sbsim" name="traj_gen" type="traj_gen.py" output = "screen"/>
  <node pkg="sbsim" name="rules" type="rules.py" output = "screen"/>
  <node pkg="sbsim" name="ik" type="ik.py" output = "screen"/>
  <node pkg="sbsim" name="fk" type="fk.py" output = "screen"/>
</launch>
